---
http_interactions:
- request:
    method: get
    uri: https://api.nomics.com/v1/currencies/ticker?ids=XRP,DOGE&key=82c9ee8fa0e51689ddcba86b51c25bb61c3b2ec4
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Pagination-Total-Items:
      - '2'
    body:
      encoding: UTF-8
      string: '[{"id":"XRP","currency":"XRP","symbol":"XRP","name":"XRP","logo_url":"https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/XRP.svg","status":"active","price":"1.14836680","price_date":"2021-10-10T00:00:00Z","price_timestamp":"2021-10-10T01:43:00Z","circulating_supply":"46805773456","max_supply":"100000000000","market_cap":"53750196192","market_cap_dominance":"0.0207","num_exchanges":"260","num_pairs":"1758","num_pairs_unmapped":"55","first_candle":"2013-05-09T00:00:00Z","first_trade":"2013-05-09T00:00:00Z","first_order_book":"2018-08-29T00:00:00Z","rank":"7","rank_delta":"0","high":"2.75731495","high_timestamp":"2018-01-07T00:00:00Z","1d":{"volume":"5381991492.76","price_change":"0.083857273","price_change_pct":"0.0788","volume_change":"2284824806.31","volume_change_pct":"0.7377","market_cap_change":"3925004519.25","market_cap_change_pct":"0.0788"},"7d":{"volume":"26589581519.59","price_change":"0.094506107","price_change_pct":"0.0897","volume_change":"-822810377.67","volume_change_pct":"-0.0300","market_cap_change":"4481745980.11","market_cap_change_pct":"0.0910"},"30d":{"volume":"122865306604.06","price_change":"0.090372700","price_change_pct":"0.0854","volume_change":"-119478496700.19","volume_change_pct":"-0.4930","market_cap_change":"4463242541.20","market_cap_change_pct":"0.0906"},"365d":{"volume":"3075379324972.62","price_change":"0.89280351","price_change_pct":"3.4935","volume_change":"2381350106699.35","volume_change_pct":"3.4312","market_cap_change":"42208342711.13","market_cap_change_pct":"3.6570"},"ytd":{"volume":"2488681800491.62","price_change":"0.92401897","price_change_pct":"4.1187","volume_change":"1532911210046.47","volume_change_pct":"1.6038","market_cap_change":"43559018751.87","market_cap_change_pct":"4.2742"}},{"id":"DOGE","currency":"DOGE","symbol":"DOGE","name":"Dogecoin","logo_url":"https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/doge.svg","status":"active","price":"0.24419714","price_date":"2021-10-10T00:00:00Z","price_timestamp":"2021-10-10T01:43:00Z","circ[...]
