---
http_interactions:
- request:
    method: get
    uri: https://api.nomics.com/v1/currencies/ticker?ids=BTC,XRP&key=82c9ee8fa0e51689ddcba86b51c25bb61c3b2ec4
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Pagination-Total-Items:
      - '2'
    body:
      encoding: UTF-8
      string: '[{"id":"BTC","currency":"BTC","symbol":"BTC","name":"Bitcoin","logo_url":"https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/btc.svg","status":"active","price":"55142.77625983","price_date":"2021-10-09T00:00:00Z","price_timestamp":"2021-10-09T23:35:00Z","circulating_supply":"18839262","max_supply":"21000000","market_cap":"1038849209366","market_cap_dominance":"0.3946","num_exchanges":"392","num_pairs":"65920","num_pairs_unmapped":"5169","first_candle":"2011-08-18T00:00:00Z","first_trade":"2011-08-18T00:00:00Z","first_order_book":"2017-01-06T00:00:00Z","rank":"1","rank_delta":"0","high":"63661.69291896","high_timestamp":"2021-04-13T00:00:00Z","1d":{"volume":"36998052617.96","price_change":"1013.68324046","price_change_pct":"0.0187","volume_change":"-10269859534.36","volume_change_pct":"-0.2173","market_cap_change":"19145056657.59","market_cap_change_pct":"0.0188"},"7d":{"volume":"325190870911.99","price_change":"7441.16173108","price_change_pct":"0.1560","volume_change":"22121882554.19","volume_change_pct":"0.0730","market_cap_change":"140486229398.04","market_cap_change_pct":"0.1564"},"30d":{"volume":"1412932530312.74","price_change":"8662.28037529","price_change_pct":"0.1864","volume_change":"-104126303048.58","volume_change_pct":"-0.0686","market_cap_change":"164485172434.95","market_cap_change_pct":"0.1881"},"365d":{"volume":"21151753627053.04","price_change":"43765.05827700","price_change_pct":"3.8466","volume_change":"10485443763887.32","volume_change_pct":"0.9830","market_cap_change":"828217999171.13","market_cap_change_pct":"3.9321"},"ytd":{"volume":"18424153456371.72","price_change":"22263.44147885","price_change_pct":"0.6771","volume_change":"10087448084125.62","volume_change_pct":"1.2100","market_cap_change":"427722887914.29","market_cap_change_pct":"0.6999"}},{"id":"XRP","currency":"XRP","symbol":"XRP","name":"XRP","logo_url":"https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/XRP.svg","status":"active","price":"1.16617160","price_date":"2021-10-09T00:00:00Z","price_timestamp":"2021-10-09T23:35:00Z","circul[...]
