---
http_interactions:
- request:
    method: get
    uri: https://api.nomics.com/v1/currencies/ticker?ids=XRP&key=82c9ee8fa0e51689ddcba86b51c25bb61c3b2ec4
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Pagination-Total-Items:
      - '1'
    body:
      encoding: UTF-8
      string: '[{"id":"XRP","currency":"XRP","symbol":"XRP","name":"XRP","logo_url":"https://s3.us-east-2.amazonaws.com/nomics-api/static/images/currencies/XRP.svg","status":"active","price":"1.16193541","price_date":"2021-10-09T00:00:00Z","price_timestamp":"2021-10-09T23:58:00Z","circulating_supply":"46805773456","max_supply":"100000000000","market_cap":"54385285487","market_cap_dominance":"0.0207","num_exchanges":"260","num_pairs":"1758","num_pairs_unmapped":"55","first_candle":"2013-05-09T00:00:00Z","first_trade":"2013-05-09T00:00:00Z","first_order_book":"2018-08-29T00:00:00Z","rank":"7","rank_delta":"0","high":"2.75731495","high_timestamp":"2018-01-07T00:00:00Z","1d":{"volume":"4882450924.90","price_change":"0.090688299","price_change_pct":"0.0847","volume_change":"1750945020.68","volume_change_pct":"0.5591","market_cap_change":"4244735992.45","market_cap_change_pct":"0.0847"},"7d":{"volume":"23822170339.97","price_change":"0.10807481","price_change_pct":"0.1026","volume_change":"-3590196966.72","volume_change_pct":"-0.1310","market_cap_change":"5116839763.58","market_cap_change_pct":"0.1039"},"30d":{"volume":"120097814361.10","price_change":"0.10394194","price_change_pct":"0.0982","volume_change":"-122245875075.04","volume_change_pct":"-0.5044","market_cap_change":"5098361089.33","market_cap_change_pct":"0.1034"},"365d":{"volume":"3072610167814.42","price_change":"0.90637215","price_change_pct":"3.5466","volume_change":"2378580506403.29","volume_change_pct":"3.4272","market_cap_change":"42843433300.70","market_cap_change_pct":"3.7120"},"ytd":{"volume":"2485912966399.50","price_change":"0.93758832","price_change_pct":"4.1792","volume_change":"1530142447961.45","volume_change_pct":"1.6010","market_cap_change":"44194141552.16","market_cap_change_pct":"4.3365"}}]

        '
  recorded_at: Sun, 10 Oct 2021 00:03:10 GMT
recorded_with: VCR 6.0.0
